html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #cfe0e5;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------------------- */

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header {
  width: 100vw;
  padding: 10px;
  background: #7b7b7b;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.title__contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title:nth-child(1) {
  background-color: #b7ac44;
}

.title:nth-child(2) {
  background-color: #df362d;
}

.title:nth-child(3) {
  background-color: #ff8300;
}

.title:nth-child(4) {
  background-color: #ff4500;
}

.link {
  display: flex;
  height: 23px;
}

.link > p {
  font-size: 15px;
  align-self: flex-end;
}

.link > a {
  color: #a1c8ed;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.link > a:hover {
  color: #0074b7;
}

.info-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 550px) {
  .info-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .info-links {
    flex-direction: row;
  }
}

.records-link,
.rules-link {
  width: max-content;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.records-link {
  background-color: #bd97cb;
}
.rules-link {
  background-color: #fbc740;
}

.main {
  width: 100vw;
  height: max-content;
  padding: 20px;
  background-color: #e3dfdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
  position: relative;
}

.modal-start-game,
.modal-game-over {
  width: 430px;
  padding: 20px;
  background-color: #7b7b7b;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #292727, 2px 2px 15px #000;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 220px;
  left: auto;
  right: auto;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 550px) {
  .modal-start-game,
  .modal-game-over {
    width: 400px;
  }

  .game-over__description > div {
    line-height: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .modal-start-game,
  .modal-game-over {
    width: 300px;
  }
}

.game-over__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game-over__result {
  text-align: center;
  line-height: 30px;
}

.start-game__title,
.game-over__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

.start-game__name {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 450px) {
  .start-game__name {
    width: 100%;
  }

  .start-game__name_label {
    line-height: 25px;
    text-align: center;
  }

  .button__container {
    gap: 15px;
  }

  .button__container > .button {
    padding: 5px;
  }
}

.start-game__name_input {
  width: 100%;
  padding: 5px;
  background-color: #e3dfdf;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 1s ease-in-out;
}

.start-game__name_input.error {
  box-shadow: 1px 1px 2px #b36b6b, 2px 2px 5px #bd2222;
}

.button__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  padding: 15px;
  background-color: #02894b;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  transition: all 1s ease-in-out;
}

.button:hover {
  background-color: #016236;
}

.change-name__button {
  background-color: #0e86d4;
}

.change-name__button:hover {
  background-color: #055c9d;
}

.score__container {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-best,
.score-game {
  font-size: 25px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #292727;
  color: #7b7b7b;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.score-best::before,
.score-game::before {
  content: 'BEST';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: none;
}

.score-game::before {
  content: 'SCORE';
}

.field {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #7b7b7b;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #292727, 2px 2px 15px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #e3dfdf;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #292727, 2px 2px 10px #000;
  color: #fff;
  font-family: 'Roboto';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 550px) {
  .score__container {
    width: 400px;
  }

  .field {
    width: 400px;
    height: 400px;
  }

  .cell {
    width: 75px;
    height: 75px;
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .score__container {
    width: 300px;
  }

  .field {
    width: 300px;
    height: 300px;
  }

  .cell {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

.fixed-overlay {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: all 1s ease-in-out;
}

.modal {
  width: 400px;
  margin-top: 100px;
  padding: 20px;
  background-color: #7b7b7b;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #292727, 2px 2px 15px #000;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-records,
.modal-rules {
  width: 400px;
  margin-top: 100px;
  padding: 20px;
  background-color: #7b7b7b;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #292727, 2px 2px 15px #000;
  text-shadow: 1px 1px 2px #292727, 2px 2px 5px #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: all 1s ease-in-out;
}

.modal-rules {
  width: 500px;
}

@media screen and (max-width: 550px) {
  .modal-rules {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .modal-records,
  .modal-rules {
    width: 300px;
  }
}

.close-btn {
  align-self: end;
}

.close-btn::before {
  content: '\f00d';
  font-family: FontAwesome;
}

.best-records__container,
.last-games__container,
.empty-records__container,
.rules__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.last-games__container {
  margin-top: 30px;
}

.records__title,
.rules__title {
  font-weight: 500;
  letter-spacing: 1.5px;
}

.empty-stub,
.rules {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.empty-stub > div,
.rules > div {
  text-align: center;
  line-height: 30px;
}

.records__header,
.records__item {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.records__item {
  border-bottom: 0.5px solid #fff;
}

.records__item > div {
  width: 40%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.records__item:last-child {
  border-bottom: none;
}

footer {
  width: 100vw;
  background: #7b7b7b;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.footer-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
}

.footer-group a {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.footer-group a:hover {
  box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.3),
    0.3px 0.3px 8px rgba(0, 0, 0, 0.5);
}

.github::before {
  content: '';
  background-image: url(../img/svg/github-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 5px;
}

.logo {
  margin: 10px;
  width: 120px;
  transition: all 1s ease-in-out;
}

.visible {
  display: flex;
}

.opacity {
  opacity: 0;
  cursor: default;
}

.hidden {
  display: none;
}
